---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
}

const { ...props } = Astro.props;
---

<section class="container" {...props}>
  <slot />
</section>

<style>
  .container {
    height: calc(100vh - 64px);
    margin-inline: auto;
    padding-top: 64px;
    box-sizing: content-box;

    form > * + * {
      margin-top: 16px;
    }

    form > button {
      width: 100%;
    }
  }
</style>
