---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;
---

<div class:list={["skeleton", className]} {...props}></div>

<style>
  .skeleton {
    background: var(--blue-chill-200);
    border-radius: 6px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
</style>
