---
import '@/styles/globals.css'
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Ejercicios de Dasarrollo de Apliaciones en Red por Sergio Majé
    </title>
    <meta
      name="description"
      content="Ejercicios de programación básica en JavaScript y con fecth presentados para la asignatura Desarrollo de Aplicaciones en Red de la UNIR por Sergio Majé"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
